@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:underline;
  }

  time {
    @apply italic;
  }

  pre.mermaid {
    @apply bg-transparent;
    width: calc(100vw - 20px);
    margin-left: calc(-50vw + 50% + 10px);
    text-align: center;
    * {
      margin: auto;
    }
  }

  main {
      flex: 1;
  }
}
